.table {
    width: 90%;
    margin: 0 5%;

    border-radius: 16px;
    overflow: hidden;

    box-shadow: 0 0 0 1px var(--color-gray-200);
}

.table th,
.table td {
    padding: 12px 16px;
    text-align: left;
    border-right: 1px solid var(--color-gray-200);
    border-bottom: 1px solid var(--color-gray-200);
}

/* Удаление границ у последней колонки */
.table th:last-child,
.table td:last-child {
    border-right: none;
}

/* Удаление границ у последней строки */
.table tr:last-child td {
    border-bottom: none;
}

/* Шапка */
.table thead {
    background-color: var(--color-primarymuted300);
}

.table thead:hover {
    background-color: var(--color-primarymuted400);
}

/* Тело */
.table tbody tr:nth-child(even) {
    background-color: var(--color-gray-100);
}

.table tbody tr:nth-child(even):hover {
    background-color: var(--color-gray-200);
}

.table tbody tr:nth-child(odd) {
    background-color: var(--color-background);
}

.table tbody tr:nth-child(odd):hover {
    background-color: var(--color-gray-200)
}